.main{
  width:90%;
  margin:10px auto;
}
.tableh3{
  // float:left;
  display: inline-block;
  vertical-align: top;
  padding: 0 10px;
  width:49%;
  text-align: center;
}
.divtitle{
  clear: both;
  text-align: center;
  width: 100%;
  margin:30px auto;
  font-size: 18px;
}
.tableh{
  width:47%;
  text-align: center;
  display: inline-block;
  margin-left: 40px;
}
.carddiv{
  margin-top: 30px;
  clear: both;
  width:100%;
}
.tabletitle{
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
}
.tabletitleforpace{
  margin-top: 20px;
  text-align: left;
}
.divforcard{
  clear: both;
  margin-top: 30px;
}
.footer{
  clear: both;
  text-align: center;
  margin-top: 30px;
  height:50px;
}
.echarts{
  display: inline-block;
  width: 49%;
  margin-top: 20px;
  border:1px solid #999;
  margin-left: 10px;
}
.echartspan{
  font-size: 16px;
  font-weight: bold;
}